@import "variables.scss";

.additivesBox {
    width: 100%;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
    }
}

.notes {
    display: flex;
    flex-direction: column;
    width: 100%;

    details {
        margin-bottom: 2rem;
        padding: 1rem;
        width: 100%;
        border: 1px solid $border;
        border-radius: 0.5rem;

        summary {
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
        }

        hr {
            margin: 1rem 0;
            border: 1px solid $border;
        }
    }
}

.note {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border: 1px solid $border;
    border-radius: 0.5rem;
}

.noteName {
    margin-bottom: 1rem;
    font-weight: bold;
}

.noteIcons {
    display: flex;
    align-items: flex-end;
    font-size: 1.3rem;

    svg {
        margin-left: 2rem;
        cursor: pointer;
    }
}