@import "variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background-color: $add;
  color: $white;
  border: 1px solid $add;
  cursor: pointer;

  span {
    position: relative;
    top: 2px;
    left: -3px;
    font-size: 1.5rem;
  }
}

.addNoteBox {
  position: relative;
  width: 100%;
}

.addNoteShow {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid $border;
  background-color: $bg;
}

.inputBox {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    height: 3rem;
    border: 1px solid $border;
    background-color: $white;
  }

  textarea {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    height: 6rem;
    border: 1px solid $border;
    border-radius: 0.5rem;
    background-color: $white;
  }

  .button {
    margin-bottom: 0;
    width: 100%;
  }
}

.closeBox {
  position: absolute;
  top: 28px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;

  @media (max-width: 767px) {
    gap: 1rem;
  }

  label {
    margin-bottom: 0;
    width: calc(50% - 1rem);

    @media (max-width: 767px) {
      width: calc(50% - 0.5rem);
      font-size: 0.8rem;
    }
  }

  .longLabel {
    width: 100%;
  }

  input {
    margin-bottom: 0;
    width: 100%;
  }

  select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    height: 3rem;
    border: 1px solid $border;
    background-color: $white;
  }

  textarea {
    width: 100%;
    border-radius: 0;
  }
}
