@import "variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  color: $main;

  @media (max-width: 1250px) {
    padding: 0 1rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.backLink {
  cursor: pointer;

  @media (max-width: 767px) {
    position: fixed;
    bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    font-size: 0.8rem;
    z-index: 11;

    svg {
      font-size: 1.2rem;
    }
  }
}

.react-tabs {
  @media (max-width: 767px) {
    display: flex;
    gap: 1rem;
  }
}

.react-tabs__tab-list {
  background-color: $bg;
  border: 1px solid $border !important;
  font-size: 0.8rem;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.react-tabs__tab {
  padding: 1rem 12px !important;

  @media (max-width: 767px) {
    width: 6rem;
  }
}

.react-tabs__tab:focus:after {
  display: none;
}

.react-tabs__tab--selected {
  border: 1px solid $border !important;
  border-radius: 0 !important;
}

.react-tabs__tab-panel {
  @media (max-width: 767px) {
    width: calc(100% - 8rem);
  }
}
