@import "variables.scss";

.wineBox {
  width: 100%;
  min-height: 80vh;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.divider {
  position: relative;
  display: flex;
  justify-content: center;

  h3 {
    position: relative;
    display: inline;
    margin-bottom: 1rem;
    padding: 0 10px;
    background-color: $white;
    text-align: center;
    font-size: 1rem;
    z-index: 2;
  }

  hr {
    position: absolute;
    top: 11px;
    width: 100%;
    border: 1px solid $border;
    z-index: 1;
  }
}

.note {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid $border;
  border-radius: 0.5rem;

  strong {
    font-size: 0.8rem;
  }
}

.noteName {
  margin-bottom: 1rem;
  font-weight: bold;
}

.noteIcons {
  display: flex;
  align-items: flex-end;
  font-size: 1.3rem;

  svg {
    margin-left: 2rem;
    cursor: pointer;
  }
}
