@import "variables.scss";

.wineyardsBox {
  width: 100%;
  min-height: 80vh;

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 1rem;
  }
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
  width: 100%;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }

  > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;

    &:first-child {
      background: #f4bfbf;
    }

    &:nth-child(2n) {
      background: #ffd9c0;
    }

    &:nth-child(3n) {
      background: #ffe9ae;
    }

    &:nth-child(4n) {
      background: #c1efff;
    }

    &:nth-child(5n) {
      background: #f7ecde;
    }

    &:nth-child(6n) {
      background: #e9dac1;
    }

    &:nth-child(7n) {
      background: #9ed2c6;
    }

    &:nth-child(8n) {
      background: #54bab9;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 0.3rem;

      &:last-child {
        margin-bottom: 0;
        font-size: 0.8rem;
      }
    }
  }
}
